.advantage__list {
  display: grid;
  gap: 30px;
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.advantage__item {
  width: 100%;
  @media screen and(min-width:768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and(min-width:768px) {
    width: 270px;
  }
}

.advantage__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.advantage__text {
  color: var(--second-text-color);
  line-height: 1.71;
}

.advantage-icon {
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f5f4fa;
  }
  &__wrap--pos {
    margin-bottom: 30px;
  }
  &__field {
    width: 70px;
    height: 70px;
  }
}
