.menu {
  display: none;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    opacity: 1;
    transition: opacity var(--bezier-effect), visibility var(--bezier-effect);
  }
}

.menu-top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}
.menu-top__link {
  color: var(--main-text-color);
  transition: color var(--bezier-effect);
  &:hover {
    color: var(--accent-color);
  }
}

.menu__tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.menu__soc {
  display: flex;
  @media screen and (max-width: 420px) {
    flex-wrap: wrap;
  }
  margin-top: 64px;
}

.menu__soc--item {
  padding: 0 10px;
}
.menu__soc--item:first-child {
  padding-left: 0;
}
.menu__soc--item:last-child {
  padding-right: 0;
}
.menu__soc--item:not(:last-child) {
  content: '';
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu__soc--link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu__btn {
  background: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.icon__menu--open {
  display: block;
}
.icon__menu--close {
  display: block;
  &:hover {
    fill: var(--accent-color);
  }
  transition: fill var(--bezier-effect);
}
