.team {
  background-color: var(--team-bg-color);

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 50px;
    @include max-tablet {
      font-size: 28px;
    }
  }

  &__list {
    display: grid;
    gap: 30px;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 480px) and (max-width: 767px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 60px) / 2);
    }
  }
}

.card {
  background-color: var(--main-bg-color);
  border-radius: 0 0 4px 4px;
  padding: 30px 0;

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--main-text-color);
  }

  &__description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-text-color);
  }
}

.team__soclist--pos {
  margin-top: 16px;
}

.team-soc__link {
  background-color: #fff;
  color: #afb1b8;
  transition: color var(--bezier-effect), background-color var(--bezier-effect);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #fff;
  }
}
